html {
    scroll-behavior: smooth;
  }

body {

    font-family: Helvetica, sans-serif;
    text-align: center;
    background-image: url("bck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 10;
    border-radius: 1%;
    border-width: 8px;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
}

.header { 
    
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px 1px 5px 1px;
    border: 0px 0px 5px 0px;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, .4); 
    transition: ease-out 0.3s;
}

.header:hover {
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px 1px 5px 1px;
    border: 0px 0px 5px 0px;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-style: italic;
    color: rgb(255, 255, 255) ;
    background-color: rgba(81, 81, 81, 0.504);
    transition: opacity 0.25sec;
    transition: ease-out 0.2s;
}

.top {
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px 1px 5px 1px;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, .4); 
    transition: ease-out 0.3s;
}

.top:hover {
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px 1px 5px 1px;
    border: 0px 0px 5px 0px;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255) ;
    background-color: rgba(81, 81, 81, 0.504);
    transition: ease-out 0.3s;
}

#main {
    margin-top: 150px;
}

.cntbox {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    background-color:  rgba(0, 0, 0, .4); 
    margin: 100px;
    padding: 50px;
    transition: ease-out 0.2s;

}

.cntbox:hover {
    display: flex;
    align-items: center;
    border-style: double;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 255, 255) ;
    background-color:   rgba(81, 81, 81, 0.504);
    margin: 100px;
    padding: 50px;
    transition: ease-out 0.2s;
    transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);

}

.cntbox h3 {

    margin-left: 20px;
    
}


.sites {
    
    background-color: rgba(0, 0, 0, .4);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border-width: 5px;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    transition: ease-out 0.3s;
}    

.sites:hover {
    
    background-color: rgba(123, 123, 123, 0.8);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border-width: 5px;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    transition: ease-out 0.3s;
    transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    
}    

.bot {
    border-radius: 20px; 
    margin-bottom: 20px;
    
}

.btn {
    
    background-color: rgba(0, 0, 0, .4);
    color:  rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border-width: 5px;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    transition: ease-out 0.3s;
}    

.btn:hover {
    
    background-color: rgba(123, 123, 123, 0.8);
    color:  rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border-width: 5px;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.8);
    transition: ease-in 0.3s;
    transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}    
 

ion-icon {
    font-size: 37px;
  }

 